@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


body{
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: gray;
  color: white;
}
main{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  pointer-events: none;
}
main div{
  width: 35%;
  height: 80%;
  background-color: #D9D9D9;
  opacity: 0.9;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 1px 1px 10px 2px black;
  border-radius: 20px;
}
h1{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #13004C;

}
p{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}	
form{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
form span{
  width: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: all;
  color: #13004C;
  font-weight: bold;
}
span input{
  background-color: transparent;
  border-bottom: #FFC444 2px solid;
  margin-top: 10px;
  padding: 10px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}
span input:focus{
  border-bottom: #13004C 2px solid;
}
form button{
  background-color: #FFC444;
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #13004C;
  font-weight: bold;
  pointer-events: all;
  transition: .5s all ease-in-out;
}
form button:hover{
  background-color: #13004C;
  color: #FFC444;
}

a{
  color: #13004C;
  font-weight: bold;
  font-size: 16px;
  pointer-events: all;
  transition: .5s all;
}
a:hover{
  color: #FFC444;
}
.bgAnimado{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: #1d1d1d;
  filter: saturate(2);
  overflow: hidden;
}
.caixaColorida{
  z-index: 2;
  filter: brightness(1.1);
  transition: 2s ease;
  position: relative;
  margin: 2px;
  background-color: #1d1d1d;
}
.caixaColorida:hover{
  background-color: #13004C;
  transition-duration: 0s;
}
.bgAdmin{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #FFC444;
  filter: blur(60px);
  animation: animBack 6s linear infinite;
}

@keyframes animBack {
  0%{
      top: -60px;
  }
  100%{
      top: 120%;
  }
}

@media only screen and (max-width: 600px){
/* 
  .bgAnimado{
    display: none;
  }
  .bgAdmin{
    display: none;
  } */

  main div{
    width: 80%;
    height: 90vh;
  }
} 