@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


body{
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: gray;
  color: white;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
form span{
  width: 100%;
  display: flex;
  flex-direction: column;
}
span input{
  background-image: linear-gradient(to right, #CDFFD8, #94B9FF);
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  outline: none;
}
form button{
  background-color: #2A0A87;
  padding: 10px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
  color: white;
}