@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
/* CSS Reset */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */
/* Adicione sua estilização abaixo, sem apagar o reset */
html {
  scroll-behavior: smooth;
}
.honk {
  font-family: "Honk", system-ui;
  font-size: 40px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 15, "SHLN" 50;
}
.subtitulo {
  font-family: "JetBrains Mono", monospace;
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
}
.paragrafo {
  font-family: "JetBrains Mono", monospace;
  font-size: 19.5px;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "JetBrains Mono", monospace;
  background-color: #e5e5e5;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}
header {
  width: 90%;
  /* max-width: 1080px; */
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
}



#btn-mobile {
  display: none;
}
/* Funciona como um if em css, quando tela for menor que 800px, quero que a classe menu, SUMA */
@media only screen and (max-device-width: 800px) {
  li .ancora {
    color: black;
  }
  .sessao {
    flex-direction: column;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    right: 0;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #btn-mobile {
    display: flex;
    /* padding: 0.5rem 1rem; */
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  #servicos article {
    flex-direction: column;
    padding: 0;
  }
  .container {
    flex-direction: column;
  }
  .card-servicos {
    display: none;
  }
  #mebros container {
    flex-direction: column;
  }
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100%;
  gap: 40px;
}
nav ul li {
  list-style: none;
}
.ancora {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
main {
  width: 100%;
  /* max-width: 1720px; */
  margin: 0;
  padding: 0;
}
.sessao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.container {
  width: 90%;
  height: 100%;
  /* max-width: 1720px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.esconder {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}
.ativo {
  transition: all 1s ease-in-out;
  opacity: 1;
  transform: translateX(0);
}
.sessao-texto {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* padding: 0 50px; */
}
.sessao-imagem {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  color: white;
}
h1,
h2 {
  color: white;
}
#membros .sessao-texto p{
  color: white;
}
.equipe {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.equipe ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  /* gap: 20px; */
  align-items: center;
  background-color: rgba(214, 125, 255, 0.573);
  width: 12vw;
  height: 150px;
}
#sobre {
  /* #5520bf, #010217, to left */
  background-color: #EEF4F6;
}
#sobre .sessao-texto h2,p{
  color: #010217;
}
.sessao-icons img{
  filter: invert(100%);
}
#servicos {
  /* #5520bf, #010217, to left */
  /* background-image: linear-gradient(120deg, #5520bf 0%, #010217 100%); */
  background-image: url(../assets/background-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#servicos article {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.card-servicos {
  width: 25rem;
  height: 480px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card-servicos p{
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 0 20px;
}
.card-servicos:nth-of-type(1) {
  background-image: linear-gradient(120deg, #ff5757 0%, #8c52ff 100%);
  margin-top: 150px;
}
.card-servicos:nth-of-type(2) {
  background-image: linear-gradient(120deg, #5520bf 0%, #010217 100%);
  margin-bottom: 75px;
}
.card-servicos:nth-of-type(3) {
  background-image: linear-gradient(120deg, #5de0e6 0%, #004aad 100%);
  margin-top: 150px;
}
#projeto {
  background-color: #060118;
}

#projeto .container article{
  width: 100%;
  height: 100%;
}
#projeto .container article h1{
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
#projeto .container article p{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
#projeto .container article button{
  padding: 10px 20px;
  border: none;
  background-color: #5520bf;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 20px;
}